@{
    ViewBag.Title = "Index";
}

<div ng-controller="mainCtrl as ctrl">
    <div class="row">
        <div class="col-md-12">
            <h2>AngularJs Drag And Drop with TypeScript</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Name: {{ctrl.locals.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Alter</th>
                    <th>Optionen</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in ctrl.locals.items">
                    <td ng-bind="row.name"></td>
                    <td ng-bind="row.vorname"></td>
                    <td ng-bind="row.alter"></td>
                    <td>
                        <a sq-draggable sq-drag-data="row" sq-on-drag="ctrl.dragStarted" class="btn btn-default">Drag Item</a>
                        <a sq-droppable sq-model-data="row" sq-on-drop="ctrl.dataDropped" class="btn btn-primary">Drop Item</a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
